<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォーロー数:<%= user.following.count %></td>
        <td>フォロワー数:<%= user.followers.count %></td>
        <% current_user.active_relationships.each do |r| %>
        <% if (r.followed_id == user.id) %>
        <% @id_number = r.id %>
        <% end %>
        <% end %> 
        <td><%= render "follow_link", user: user, id_number: @id_number %></td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
